body{
    margin: 0;
}
#container{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.level1,.level2{
    position: absolute;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}
.level1{
    z-index: 2;
    left: 0px;
    top: 0px;
}
.level2{
    display: none;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.scale2{
    -webkit-transform:scale(2);-moz-transform:scale(2);
}

.zoomIn,.zoomOut{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    z-index:100;
    opacity: 1;
}
.lt,.rt,.lb,.rb{
    position: absolute;
    width: 6px;
    height: 4px;
    border:2px solid transparent;
}
.lt{left:0;top:0;}
.rt{right:0;top:0;}
.lb{left:0;bottom:0;}
.rb{right:0;bottom:0;}
.zoomIn .lt,.zoomOut .rb{
    border-top-color:#f00;
    border-left-color:#f00;
}
.zoomIn .rt,.zoomOut .lb{
    border-top-color:#f00;
    border-right-color:#f00;
}
.zoomIn .lb,.zoomOut .rt{
    border-bottom-color:#f00;
    border-left-color:#f00;
}
.zoomIn .rb,.zoomOut .lt{
    border-bottom-color:#f00;
    border-right-color:#f00;
}


.draggable{
    cursor: url(i/openhand.cur) 8 8 default;
}
.dragging{
    cursor: url(i/closedhand.cur) 8 8 move;
}
